span{
    color:#fff;
    font-weight: 600;

}
h3{
    color: #507DBC;
    font-weight: 700!important;
}
h2{
    color: #507DBC;
    font-weight: 800!important;
}
p{
    color: #04080F;
    font-weight: 400!important;
}

